// Colors
$darkGrey: #1d1d1d;
$lightGrey: #4D4D4D;
$lighterGrey: #707070;
$attentionRed: rgb(195, 0, 0);
$specialBlue: rgb(0, 87, 248);

// Font sizes
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 2rem;
$font-xlg: 2.5rem;

// Font weights
$fw-regulr: 500;
$fw-bold: 700;