.search {
    padding: 1rem 0;
    background-color: $darkGrey;

    .btn-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        @include media("<=900px") {
            flex-direction: column;
        }
    }

    .btn-group {
        @include media("<=900px") {
            width: 100%;
            flex-direction: column;
        }
    }

    &__result {
        display: inline-block;
        color: $specialBlue;
        margin: 1rem 0;
    }
}

.selected-group {
    flex-wrap: wrap;
}